
{% extends 'bank/base.html' %}
{% block body %}
{% include 'bank/nav.html' %}

<div class="container-fluid">

<div class="container my-4">

  <div class="col-lg-5 mx-auto border rounded p-4">
    {% for message in messages %}
    
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    

    {% endfor %}
  
  <h3 class="alert alert-light border rounded text-center">Change Password</h3>
  <hr>
  
  <form action="" method="post">
          {% csrf_token %}
          
          <div class="form-group">
            <label class="required" for="">New Password</label>
            <input type="password" 
            name="password1" 
            id=""
            value="" 
             class="form-control form-control-sm" placeholder="Please Enter Password">
        </div>


                <!-- password -->
                <div class="form-group">
                    <label class="required" for="">Confirm New Password</label>
                    <input type="password" 
                    name="password2" 
                    id=""
                    value="" 
                     class="form-control form-control-sm" placeholder="Please Enter Password">
                </div>

                <input type="hidden" name="user_id" value="{{user_id}}">

                <hr>
                
                  <input class="btn btn-outline-dark btn-md px-5 col-md-12" type="submit" value="Submit">
                

       
  
</form>
</div>
</div>
</div>
{% include 'bank/footer.html' %}
{% endblock body %}