
{% extends 'bank/base.html' %}
{% block body %}
{% include 'bank/nav.html' %}

<div class="container-fluid">

<div class="container my-4">

  <div class="col-lg-5 mx-auto border rounded p-4">
    {% for message in messages %}
    
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    

    {% endfor %}
  
  <h3 class="alert alert-light border rounded text-center">Enter Registered Email</h3>
  <hr>
  
  <form action="" method="post">
          {% csrf_token %}
          
          <div class="form-group">
            <label class="required" for="">Email</label>
            <input type="email" 
            name="email" 
            id=""
            value="" 
             class="form-control form-control-sm" placeholder="Please Enter Email">
        </div>


               

                <hr>
                
                  <input class="btn btn-outline-dark btn-md px-5 col-md-12" type="submit" value="Submit">
                

       
  
</form>
</div>
</div>
</div>
{% include 'bank/footer.html' %}
{% endblock body %}