
{% extends 'bank/base.html' %}
{% block body %}


<div class="container-fluid">

<div class="container my-4">

  <div class="col-lg-5 mx-auto border rounded p-4">
    {% for message in messages %}
    
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    

    {% endfor %}
  
  <div class="alert alert-light border rounded text-center font-weight-bolder" style="font-size:4vh; font-family: cursive;">Please Enter Amount.</div>
  <hr>
  
  <form action="" method="POST">
          {% csrf_token %}
          
                <div class="form-group">
                    <label class="required" for="">Amount</label>
                    <input required type="number" name="amount" id=""
                    value="" 
                    class=" form-control-sm form-control" placeholder="Please Enter Amount">
                </div>


               

                <hr>
                
                <div class="row">
                    <a href="{% url 'atm' %}" class="nav-link btn btn-outline-danger col-sm-3  mx-auto my-2">Cancel</a>
                    <input class="btn btn-outline-danger col-sm-3 mx-auto my-2" type="submit" value="Enter">
                    <a href="{% url 'home' %}" class="nav-link btn btn-outline-danger col-sm-3 mx-auto my-2">Exit</a>
                  </div>
                

       
  
</form>
</div>
</div>
</div>

{% endblock body %}